<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="autotraderTesteingMaterial">

    <test name="testng">
        <classes>
            <class name="com.autotrader.stepDefinitions.AutoTraderSteps"/>



        </classes>


    </test>
</suite>


<!-->     https://www.softwaretestingmaterial.com/create-testng-xml-file/  you can watch this<-->
